@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* FONT FAMILIES: */
.piazolla-font {font-family: 'Piazolla', sans-serif;}
.dotted-font {font-family: 'Raleway Dots', sans-serif;}
.ceviche-font {font-family: 'Ceviche One', sans-serif;}
.montserrat-font {font-family: "Montserrat", sans-serif;}

/* TEXT-DECORATIONS */
.over-line {text-decoration: overline;}
.under-line {text-decoration: underline;}
.line-through {text-decoration: line-through;}

/* TEXT-TRANSFORMATIONS */
.uppercase {text-transform: uppercase;}

/* FONT-WEIGHTS */
.bold-text{font-weight: bold;}
.normal-text{font-weight: normal;}
.standard-thick-text{font-weight: 400;}
.thin-text{font-weight: 200;}
.thick-text{font-weight: 700;}


/* revisit this letter. italic style needs to be mirrored */
.whyWLetter  {
  font-size: 72px;
  font-weight: bold;
  border: 6px solid rgb(100, 182, 127);
  color: aqua;
  background-color: rgb(180, 166, 224);
  font-style: italic;
  transform: skewX(-20deg);
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  
  border: 6px solid rgb(135, 222, 37);
  background-color: rgb(236, 151, 129)
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  border: 6px solid rgb(138, 135, 135);
  background-color: rgb(59, 222, 37);
}

/* DID word */

.didILetter, .didDTwoLetter {
  color: rgb(152, 63, 66);
}

.didDLetter {
  border: 6px solid rgb(180, 166, 224);
  font-size: 45px;
  color: rgb(59, 222, 37);
  background-color: rgb(255 21 55);
}

.didILetter {
  border: 6px solid rgb(37, 112, 187);
  background-color: rgb(184, 143, 189);
  font-size: 45px;
}

.didDTwoLetter {
  font-size: 35px;
  border: 6px solid rgb(214, 7, 7);
  background-color: rgb(164, 106, 202);
}

/* THE word */

.theTLetter {
  font-size: 45px;
  border: 6px solid rgb(105, 112, 228);
  color: rgb(124, 63, 193);
  background-color: rgb(209, 208, 105);
}

.theHLetter {
  font-size: 40px;
  border: 6px solid rgb(79, 202, 204);
  color: greenyellow;
  background-color: rgb(94, 230, 164);
}

.theELetter {
  font-size: 40px;
  border: 6px solid rgb(134, 127, 83);
  color: rgb(230, 27, 173);
  background-color: rgb(121, 148, 230);
}

/* FRONT-END word */

.frontendFLetter {
}

.frontendRLetter {
}

.frontendOLetter {
}

.frontendNLetter {
}

.frontendTLetter {
}

.frontendELetter {
}

.frontendNTwoLetter {
}

.frontendDLetter {
}

/* DEVELOPER word */

.developerDLetter {
}
.developerELetter {
}
.developerVLetter {
}
.developerETwoLetter {
}
.developerLLetter {
}
.developerOLetter {
}
.developerPLetter {
}
.developerEThreeLetter {
}
.developerRLetter {
}

/* TAKE word */

.takeTLetter {
}
.takeALetter {
}
.takeKLetter {
}
.takeELetter {
}

/* UP word */

.upULetter {
}
.upPLetter {
}

/* GARDENING word */

.gardeningGLetter {
}
.gardeningALetter {
}
.gardeningRLetter {
}
.gardeningDLetter {
}
.gardeningELetter {
}
.gardeningNLetter {
}
.gardeningILetter {
}
.gardeningNTwoLetter {
}
.gardeningGTwoLetter {
}

/* BECAUSE word */

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */

.theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
