@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* FONT FAMILIES: */
.piazolla-font {font-family: 'Piazolla', sans-serif;}
.dotted-font {font-family: 'Raleway Dots', sans-serif;}
.ceviche-font {font-family: 'Ceviche One', sans-serif;}
.montserrat-font {font-family: "Montserrat", sans-serif;}

/* TEXT-DECORATIONS */
.over-line {text-decoration: overline;}
.under-line {text-decoration: underline;}
.line-through {text-decoration: line-through;}

/* TEXT-TRANSFORMATIONS */
.uppercase {text-transform: uppercase;}

/* FONT-WEIGHTS */
.bold-text{font-weight: bold;}
.normal-text{font-weight: normal;}
.standard-thick-text{font-weight: 400;}
.thin-text{font-weight: 200;}
.thick-text{font-weight: 700;}


/* revisit this letter. italic style needs to be mirrored */
.whyWLetter  {
  font-size: 72px;
  font-weight: bold;
  border: 6px solid rgb(100, 182, 127);
  color: aqua;
  background-color: rgb(180, 166, 224);
  font-style: italic;
  transform: skewX(-20deg);
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  
  border: 6px solid rgb(135, 222, 37);
  background-color: rgb(236, 151, 129)
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  border: 6px solid rgb(138, 135, 135);
  background-color: rgb(59, 222, 37);
}

/* DID word */

.didILetter, .didDTwoLetter {
  color: rgb(152, 63, 66);
}

.didDLetter {
  border: 6px solid rgb(180, 166, 224);
  font-size: 45px;
  color: rgb(59, 222, 37);
  background-color: rgb(255 21 55);
}

.didILetter {
  border: 6px solid rgb(37, 112, 187);
  background-color: rgb(184, 143, 189);
  font-size: 45px;
}

.didDTwoLetter {
  font-size: 35px;
  border: 6px solid rgb(214, 7, 7);
  background-color: rgb(164, 106, 202);
}

/* THE word */

.theTLetter {
  font-size: 45px;
  border: 6px solid rgb(105, 112, 228);
  color: rgb(124, 63, 193);
  background-color: rgb(209, 208, 105);
}

.theHLetter {
  font-size: 40px;
  border: 6px solid rgb(79, 202, 204);
  color: greenyellow;
  background-color: rgb(94, 230, 164);
}

.theELetter {
  font-size: 40px;
  border: 6px solid rgb(134, 127, 83);
  color: rgb(230, 27, 173);
  background-color: rgb(121, 148, 230);
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 35px;
  border: 6px solid rgb(121, 230, 152);
  color: rgb(96, 31, 134);
}

.frontendRLetter {
  font-size: 35px;
  border: 6px solid rgb(145, 201, 115);
  color: rgb(62, 111, 27);
  background-color: rgb(160, 81, 176);
}
#frontendOLetter {  
  padding-top: 30px;
  font-size: 40px;
  border: 6px solid rgb(215, 195, 93);
  color: rgb(29, 104, 93);
  background-color: rgb(202, 200, 128);
}





.frontendNLetter {
  font-size: 35px;
  border: 6px solid rgb(31, 159, 134);
  color: rgb(96, 81, 187);
  background-color: rgb(237, 235, 182);
  text-decoration: overline;
}

.frontendTLetter {
  font-size: 40px;
  border: 6px solid rgb(205, 131, 107);
  color: rgb(70, 51, 196);
  background-color: rgb(221, 81, 39);
}

.frontendELetter {
  font-size: 40px;
  border: 6px solid rgb(204, 244, 103);
  color: rgb(173, 166, 131);
  background-color: rgb(35, 17, 198);
}

.frontendNTwoLetter {
  font-size: 35px;
  border: 6px solid rgb(15, 151, 236);
  color: rgb(61, 218, 218);
  background-color: rgb(144, 11, 11);
  text-decoration: overline;
}

.frontendDLetter {
  font-size: 40px;
  border: 6px solid rgb(227, 235, 85);
  color: rgb(128, 161, 197);
  background-color: rgb(201, 0, 174);
  padding-bottom: 42px;
}
#frontendDLetter {
  padding-bottom: 42px;
}


/* DEVELOPER word */

.developerDLetter {
  font-size: 40px;
  border: 6px solid rgb(72, 176, 196);
  color: rgba(155, 158, 154, 0.729);
  background-color: rgb(135, 219, 222);
}
#developerELetter {
  font-size: 40px;
  border: 6px solid rgb(191, 151, 210);
  color: rgba(137, 124, 150, 0.798);
  background-color: rgb(148, 63, 198);
  padding-bottom: 42px
}

.developerVLetter {
  font-size: 37px;
  border: 6px solid rgb(255, 0, 98);
  color: rgb(247, 115, 199);
  background-color: rgb(161, 107, 53);
}

.developerETwoLetter {
  font-size: 35px;
  border: 6px solid rgb(218, 143, 24);
  color: rgb(35, 114, 73);
  background-color: rgb(124, 198, 167);
}
.developerLLetter {
  font-size: 40px;
  border: 6px solid rgb(143, 206, 199);
  color: rgb(170, 117, 141);
  background-color: rgb(106, 107, 104);
}
.developerOLetter {
  border: 6px solid rgb(67, 0, 0);
  font-size: 40px;
  color: rgb(76, 206, 130);
  background-color: rgb(33, 151, 114);
}
.developerPLetter {
  font-size: 40px;
  border: 6px solid rgb(47, 181, 32);
  color: rgb(207, 155, 244);
  background-color: rgb(156, 221, 99);
}
.developerEThreeLetter {
  font-size: 35px;
  border: 6px solid rgb(205, 223, 92);
  color: rgb(106, 244, 147);
  background-color: rgb(114, 64, 222);
}
.developerRLetter {
  font-size: 40px;
  border: 6px solid rgb(220, 226, 165);
  color: rgb(114, 64, 222);
  background-color: rgb(118, 161, 143);
}

/* TAKE word */

.takeTLetter {
  font-size: 40px;
  border: 6px solid rgb(215, 185, 244);
  color: rgb(92, 71, 209);
  background-color: rgb(141, 124, 228);
}
.takeALetter {
  font-size: 40px;
  border: 6px solid rgb(221, 173, 41);
  color: rgb(214, 55, 223);
  background-color: rgb(124, 16, 213);
}
.takeKLetter {
  font-size: 45px;
  border: 6px solid rgb(119, 115, 105);
  color: rgb(109, 99, 65);
  background-color: rgb(216, 57, 210);
}
.takeELetter {
  font-size: 40px;
  border: 6px solid rgb(119, 115, 105);
  color: rgb(194, 156, 229);
  background-color: rgb(127, 49, 228);
}

/* UP word */

.upULetter {
  font-size: 40px;
  border: 6px solid rgb(136, 75, 226);
  color: rgb(103, 231, 236);
  background-color: rgb(176, 47, 212);
}
.upPLetter {
  font-size: 40px;
  border: 6px solid rgb(208, 166, 124);
  color: rgb(163, 103, 236);
  background-color: rgb(220, 147, 205);
}

/* GARDENING word */

.gardeningGLetter {
}
.gardeningALetter {
}
.gardeningRLetter {
}
.gardeningDLetter {
}
.gardeningELetter {
}
.gardeningNLetter {
}
.gardeningILetter {
}
.gardeningNTwoLetter {
}
.gardeningGTwoLetter {
}

/* BECAUSE word */

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */

.theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
  font-size: 40px;
  border: 6px solid rgb(117, 60, 202);
  color: rgb(178, 236, 103);
  background-color: rgb(130, 187, 30);
}
.exclamation-mark {
}
.question-mark {
}
